@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

:root {
  --xl-max-element-width: 1500px;
  --md-max-element-width: 1280px;
  --sm-max-element-width: 95%;
}

@theme {
  --color-background: #141414;
  --color-primary: #1a1a1a;
  --color-secondary: #ffd11a;
  --color-secondary-text-color: #7e7e81;
  --color-secondary-text-color-2: #98989a;
  --color-secondary-text-color-3: #666666;
  --color-border-color: #262626;
  --font-kubh-sans: "Kumbh Sans", sans-serif;
}

@utility text-xl_16-md_14-sm_12 {
  @apply text-xs md:text-sm xl:text-[16px];
}
@utility text-xl_20-md_18-sm_16 {
  @apply text-[15px] md:text-[16px] xl:text-[18px];
}
@utility text-xl_55-lg_45-md_40-sm_30 {
  @apply text-3xl md:text-[40px] lg:text-[45px] xl:text-[55px];
}
@utility text-xl_45-lg_40-md_35-sm_24 {
  @apply text-2xl md:text-[35px] lg:text-[40px] xl:text-[45px];
}
@utility text-xl_30-md_25-sm_18 {
  @apply text-[18px] md:text-[25px] xl:text-[30px];
}

@utility common-x-padding {
  @apply px-4 md:px-[2rem];
}

@utility common-l-padding {
  @apply pl-4 md:pl-[2rem];
}

@utility common-r-padding {
  @apply pr-4 md:pr-[2rem];
}

@utility custom-width {
  @apply w-[var(--xl-max-element-width)];
}

@utility min-custom-width {
  @apply min-w-[var(--xl-max-element-width)];
}

/* sm:max-w-["var(--sm-max-element-width)"] md:max-w-["var(--md-max-element-width)"] */
@utility common-max-width {
  @apply xl:max-w-[var(--xl-max-element-width)];
}
@utility text-xl_24-md_20-sm_18 {
  @apply text-[18px] md:text-xl xl:text-2xl;
}

body {
  @apply bg-background;
  color: white;
}

.glowMaskImage {
  mask-image:
    linear-gradient(to right, rgb(0, 0, 0), transparent 70%),
    linear-gradient(to bottom, rgb(0, 0, 0), transparent 70%);
  mask-composite: intersect;

  -webkit-mask-image:
    linear-gradient(to right, rgb(0, 0, 0), transparent 70%),
    linear-gradient(to bottom, rgb(0, 0, 0), transparent 70%);
  -webkit-mask-composite: intersect;
}

button {
  cursor: pointer;
}

.gradient-border {
  position: relative;
}
.gradient-border::before {
  content: "";
  inset: -2px;
  position: absolute;
  z-index: -1;
  border-radius: 8px;
  background: linear-gradient(75deg, #262626, rgba(255, 204, 0, 0.208));
}
/* .glow g {
  opacity: 0.8;
} */

/* html,
body {
  color-scheme: l ight !important;
  image-rendering: crisp-edges !important;
} */

/* px-4 xl:px-[162px] md:px-[35px] lg:px-[50px] */

/* body {
    font-family: "Kumbh Sans", sans-serif;
} */
